body {background-color:#fffef9; max-width: 800px;}
code {font-size: 1.2em;}
h1 {font-family: 'Roboto Condensed', system-ui; font-weight: 400; font-size: 2em;}
h2 {font-family: 'Roboto Condensed', system-ui; font-weight: 300; font-size: 1.6em;}
h3 {font-weight: medium; font-size: 1.2em;}
h4 {font-weight: medium; font-size: 1.1em;}
h1,h2,h3,h4,h5 {text-transform: lowercase;}
h3,h4, h5, footer a, .footer-list {font-family:'Roboto Mono', monospace, system-ui;}
h5 {font-weight:medium; font-size: 1.0em;}
hr {margin-top: 2em; border: none; background-color: #ddd; height: 1px;}
a {color:#0053B3;}
a:hover {color: #866F4B;}
#backtotop {float:right;}
img {margin-top: 2em; max-width:100%;}
figure {margin-left:0; margin-bottom:50px; max-width:100%}
input {font-family: inherit;}
.active{text-decoration:underline;}
nav {width:100%;}
nav a {font-family: 'Roboto Mono', monospace, system-ui; font-size: 1.125em; padding-right: 5.75%; text-decoration: none; color:#443e3c;}
nav a.active {text-decoration: underline;}
.footer-list{display:inline; padding-right:5%; font-size:0.9em;}
footer a {color:#443e3c;font-family: 'Roboto Mono', monospace, system-ui;}
#contact-list{list-style-type: none; /* Remove bullets */ padding: 0; margin: 0;}
.contact-list-item{padding-bottom: 1.75rem; font-family: 'Roboto Mono', monospace, system-ui;}
.skip-to-content-link{position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow:hidden;} /*positiong content off screen*/
figcaption{font-size: 14px;}

main{font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica ,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size:1em; color:#443e3c;line-height: 1.6;}

/*small screens */

@media only screen and (max-width: 600px) {

body {margin: 0.75%;}
.footer-list {display: block;}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

nav a{
  display:block;
  text-decoration:none;
  color:#443e3c;
  font-size:1.15em;
  padding:2.3%;
  padding-bottom:1.5rem;
  transition:.5s color;
  padding-left:12%;

}
nav{
  display:inline-block;
  height:100vh;
  overflow:auto;
  width:100px;
  /*box-sizing: border-box;*/
  background-color: #fffef9;
  padding-top:2.7%;
  position:fixed;
}

nav a:hover{
  color: #866F4B;
  text-decoration: none;
}

body{max-width: 1050px;}

main, h1, h2 {padding-left:250px;}

#nav-hr{display:none;}

}
